@import url(https://fonts.googleapis.com/css?family=Lobster:400,700);

body {
  width: 100vw;
  height: 100vh;
  font-family: Lobster, serif;
  background-image: url('./background.jpg');
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  position: relative;
}

.album-art {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 574px;
  height: auto;
}

.text-container {
  position: absolute;
  width: 100%;
  top: 2rem;
  color: purple;
  font-size: 6em;
  font-weight: 400;
  text-shadow: 1px 1px 2px black; 
  text-transform: capitalize;
  display: flex;
  padding-left: 50px;
  justify-content: center;
  z-index: 10;
}

.lil-text {
  margin-right: 1rem;
}

.button{
  align-self: center;
  color: #fff;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  text-decoration: underline;
}
